/* main.jsp */
.body-class{
    padding-top: 		50px;
    background-color:	#f1f1f1;
}

.main-img{
    width: auto;
    height:auto;
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
}

#main-container .carousel-image{
    width: auto;
    height:auto;
    max-width: 100%;
    max-height: 100%;
}

#main-container .col-xs-2{
    padding-left:   0;
    padding-right:  0;
    font-size:      15px
}

#main-container .col-xs-2 div a{
    border: 0;
}

#main-container .col-xs-7{
    padding-right:  0;
    padding-left:   0;
}

#main-right{
    padding-left:       5px;
    padding-right:      0;
    padding-bottom:     80px;
    background-color:   #fff;
}

#main-container .text-font{
    display:        block;
    overflow:       hidden;
    text-overflow:  ellipsis;
    white-space:    nowrap;
}

#main-container .col-xs-5{
    padding: 0;
}

#main-container .col-xs-5 hr{
    margin:     10px 0 10px 0;
    padding:    10px 0 0 0;
    height:     1px;
    border:     none;
    border-top: 1px ridge black;
}

#main-container .main-box{
    width:          295px;
    height:         200px;
    text-align:     center;
    display:        table-cell;
    vertical-align: middle;
}


#tabletop{
    margin-top:     7px;
    margin-bottom:  7px;
}

#myBackground{
    background-color: #337ab7;
}

.wordDisplay{
    position: relative;
}

.imgPosition{
    margin-top:     20px;
    margin-bottom:  10px;
}

#myWidth{
    min-width: 450px;
}


#myNavBar{
    margin-bottom: 0;
}






/* itemInfo.jsp */
#mainInfo-body{
    padding-top: 		100px;
    background-color:	#f1f1f1;
}

#mainInfo-container .info-box{
    height:         400px;
    width:          487px;
    text-align:     center;
    display:        table-cell;
    vertical-align: middle;
}

#mainInfo-container .media{
    padding: 10px;
}

#mainInfo-container .media-box{
    height:         50px;
    width:          150px;
    text-align:     center;
    display:        table-cell;
    vertical-align: middle;
}

#mainInfo-container .price{
    background-color:   #fcf8e5;
    padding:            10px 10px 10px 0;
    margin:             5px 0 5px 0;
}

#mainInfo-container .title{
    margin: 25px 0 20px 0;
}

#mainInfo-container .type{
    padding: 8px 0 0 0;
}






/* login.jsp */
#login-jumbotron{
    padding-top: 30px;
    background-image: url("../source/pic/bg_login.jpg");
    height: 80%;
}

#container-login .row{
    padding-top: 50px;
    padding-bottom: 50px;
}

#container-login .col-xs-3{
    background-color: #FFFFFF;
    border-color: #2aabd2;
}

#login-top{
    padding-top: 15px;
    border-top: double; border-right: double; border-left: double;
}

#login-middle{
    border-right: double; border-left: double;
}

#login-below{
    padding-bottom: 15px;
    border-bottom: double; border-right: double; border-left: double;
}



/* manage/manage.jsp、manage/userInfo.jsp */
.body-management{
    padding-top: 70px;
}

#manage-search{
    background-color: #fcf8e5;
    padding: 10px;
}

#manage-line .col-xs-5{
    padding: 0;
}

#manage-line .col-xs-5 hr{
    margin: 10px 0 10px 0;
    padding: 10px 0 0 0;
    height:1px;
    border:none;
    border-top:1px ridge black;
}

#main-manage .col-xs-2{
    padding-left:   0;
    padding-right:  0;
    height:         90%;
    font-size:      15px
}

#main-manage .col-xs-10{
    padding-right:  0;
}

#main-manage .col-xs-2 div a{
    border: 0;
}

#main-manage .items{
    background-color: #FFFFFF;
    padding: 5px;
}

#main-manage .items:hover{
    background-color: #f7ecb5;
}

#main-manage .media-left{
    padding-right: 4px;
}

#main-manage .media-body{
    padding-left: 10px;
}

#main-manage .manage-box{
    width: 800px;
    height: 80px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

#main-manage .manage-form{
    background-color: #FFFFFF;
    padding: 30px 80px 10px 10px;
}

#main-manage .itemInfo-box{
    width: 400px;
    height: 400px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

#main-manage .col-xs-9{
    margin-left: 20px;
    padding: 10px 30px 30px 30px;
    background-color: #FFFFFF;
}




